.navb:hover{
    background: gray;
    color: aliceblue;
}

.category:hover{
    background-color: salmon;
    border-radius: .5rem;
    color: aliceblue;
}
.author-img{
    height: 50px;
    width: 50px;
}